<head>
    <link rel="stylesheet" href="css/sales_page.css">
    <script type="module" src="scripts/generator.js" defer></script>
</head>

<body class="boddy">
    <div class="header">
        <h1>Welcome <%= name %>
        </h1>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log out</button>
        </form>
    </div>
    <hr style="content: ''; height: 5px; background-color: white;">
    <div class="second">
        <h1>Projects :</h1>
        <button type="button"><a href="/newproject" style="text-decoration: none; color: white;">New
                Project</a></button>
    </div>
    <div id="project-container">
    </div>
</body>
