.body {
    background: linear-gradient(#000000, #1d246e);
}

.teamlogo {
    padding-top: 4%;
    font-size: 60px;
    font-weight: bolder;
    font-family: sans-serif;
    letter-spacing: 5px;
    color: white;
}

.logo {
    padding-top: 0.5%;
    font-size: 35px;
    color: white;
}

.flexing{
    display: flex;
    flex-direction: column;
}

.projectbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: auto;
    padding-bottom: 50px;
    padding-top: 40px;
  background: black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.projectbox form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
.projectbox input{
    width: 100%;
    height: 27px;
}
.projectbox label{
    font-size: 26px;
    padding-bottom: 10px;
}
.projectbox button{
    padding: 10px;
    background-color: blue;
    width: 150px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    border-color: white;
}
.projectbox select{
    width: 100%;
}