.boddy{
    background-color: black;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.header button{
    padding: 10px;
    background-color: blue;
    width: 150px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    border-color: white;
}

.second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.second button{
    padding: 10px;
    background-color: blue;
    width: 150px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    border-color: white;
}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-color: white;
    border-radius: 10px;
    border: 2px solid;
    margin-bottom: 15px;
}

.project button{
    padding: 10px;
    background-color: rgb(133, 56, 76);
    width: 150px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    border-color: white;
}