@import url("https://fonts.googleapis.com/css?family=Roboto");

.body {
    background: #171717;
    font-family: Roboto;
    color: white;
}

.body button {
    margin-left: 20px;
    width: 100px;
    height: 40px;
    background-color: #757575;
    color: white;
    border-radius: 15px;
    border-color: white;
    font-weight: bold;
    font-size: 15px;
}

.body h1 {
    margin-top: 30px;
}

.bruh{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bruh h1{
    margin-left: 20px;
    font-weight: bold;
}
.bruh h2{
    margin-left: 20px;
    margin-top: 35px;
    font-size: 26px;
}
.bruh button{
    margin-left: 40px;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    background-color: #757575;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border-color: white;
}